<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<title>ABLE Frame Base Mybatis Project</title>
<!-- css -->
<link th:href="@{/css/common.css}" rel="stylesheet">
<!-- jQuery -->
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script>
$(document).ready(function() {
   goSearch();
});

function goSearch() {
    $.ajax({
        type : "GET",
        url : "/rest/boards",
        dataType : 'json',
        data : $("#listForm").serialize(),
        success : function(res) {
            $("#boardBody").empty();
            if (res && res.length > 0) {
                for (var i = 0; e = res[i]; i++) {
                    var row = "";
                    row += "<tr onclick=\"goView(" + e.seq + ")\" class='clickable'>";
                    row += "    <td align='center'>" + e.seq + "</td>" +
                           "    <td align='center'>" + e.category + "</td>" +
                           "    <td>" + e.title + "</td>" +
                           "    <td align='center'>" + e.regUser + "</td>" +
                           "    <td align='center'>" + e.regDate + "</td>" +
                           "    <td align='center'>" + e.viewCount + "</td>" +
                    	   "</tr>";
                    $("#boardBody").append(row);
                }

            } else {
                $("#boardBody").append(
                    "<tr><td colspan='6' align='center'	>조회된 데이터가 없습니다.</td></tr>"
                );
            }
        }
    });
}

function goView(key) {
    location.href='/board/' + key;
}

function goInsert() {
	location.href='/board/insertForm';
}

function goResult(data) {
	alert(data.message);
	if(data.result != 'F') window.location.href = "/message";
}
</script>
</head>
<body>

<center><h2>ABLE Frame Base Mybatis Project</h2></center>
<br>
<form id="listForm" name="listForm" method="post">
<table class="tbl-ex2">
	<tr><td>
			<select name="searchCondition" id="searchCondition">
		        <option value="2" label="작성자" ></option>
		        <option value="1" label="제목" ></option>
		        <option value="3" label="내용" ></option>
		        <option value="0" label="분류" ></option>
		    <select>
		    <input type="text" id="searchKeyword" name="searchKeyword" value="" title="검색어 입력" />
		    <button type="button" class="button" onclick="goSearch();">검색</button>
		</td>
	</tr>
</table>
<table class="tbl-ex">
	<input type="hidden" id="_method" name="_method" value="GET" />
	<tr height="33px">
		<th>No</th>
		<th>분류</th>
		<th>제목</th>
		<th>등록자</th>
		<th>등록일</th>
		<th>조회수</th>
	</tr>
	<tbody id="boardBody">
	<tr><td colspan="6"></td></tr>
	</tbody>
</table>
<table class="tbl-ex2">
	<tr><td align="right">
			<button type="button" class="button" onclick="javascript:goInsert()">글등록</button>
		</td>
	</tr>
</table>
</form>

</body>
</html>